.navList__search{
border: 3px solid #beee62;
background-color: #cae991;
color: #3c6e71;
max-width: 100%;
padding: 10px;
cursor: pointer;
font-family: 'Balsamiq Sans', sans-serif;
font-size: 15px;
border-radius: 26px;
}

.navList__search:focus{
    outline-color: #3c6e71;
}

.navList__search::placeholder{
    color: #3c6e71;
    font-family: 'Balsamiq Sans', sans-serif;
font-size: 15px;
}
