@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.header{
margin: 0;
padding: 0;
}

.header::after{
    content: '';
    display: block;
    height: 3px;
    background: #beee62;
    }

.container{
    padding: 20px;
    margin: 0 auto;
    max-width: 1500px;
display: flex;
align-items: center;
justify-content: space-between;
}

.header__information{
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (min-width: 768px) and (max-width:1023px)
{
    .container{
        max-width: 1023px;
   }
}

   @media screen and (max-width: 768px) 
{
    .container{
    max-width: 768px;
   }
}



