.post{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 26px;
    padding: 20px;
    font-family: 'Balsamiq Sans', sans-serif;
    align-items: flex-start;
}

.post__title{
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.post__text{
    font-size: 15px;
}