.post{
    display: flex;
    gap: 40px;
    border-radius: 26px;
    padding: 20px;
    font-family: 'Balsamiq Sans', sans-serif;
}

.post__img{
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.post__information{
display: flex;
flex-direction: column;
gap: 10px;
}

.post__title{
    font-size: 25px;
    font-weight: bold;
}

.post__description{
    font-size: 25px;
}
